MYSQL_DATABASE=activity_platform
MYSQL_USER=activity
MYSQL_PASSWORD=activity_dev_password
MYSQL_ROOT_PASSWORD=local_mysql_root_password
APP_PORT=8088
SESSION_COOKIE_SECURE=false
DEMO_ADMIN_PASSWORD=Admin123!
DEMO_USER_PASSWORD=Demo123!
